<div  style="padding:20px;" class="col-lg-4 col-md-offset-4 create-win">

  <!-- <app-tree-page [data]=bookHeaders></app-tree-page> -->



  <form>

      <div class="form-group" *ngIf="bookHeaders && selectedBook" >
        <label for="selectBook">Select a Book</label>
        <br>
          <select [(ngModel)]="selectedBook.bookId" (input)="onInput($event)" name="selectBook">
              <option *ngFor="let book of bookHeaders" value= {{book.bookId}}>{{book.hebrewName}}</option>
            </select>
          </div>
    <br>

  <div class="form-group">
    <label for="LecturerName">Lecturer Name</label>
    <input [(ngModel)]="lecturerName" type="text" class="form-control" name="LecturerName" placeholder="Your Name">
  </div>

  <br>

  <div class="form-group">
      <label for="Subject">Lecture Subject</label>
      <input [(ngModel)]="subject" type="text" class="form-control" name="Subject" placeholder="Your Lecture Subject">
    </div>

    <br>
    <br>
    <div class="form-group">
        <input type="submit" (click)="onSubmit()" class="form-control btn-success" id="btn" value="Go On!">
      </div>
</form>
</div>
