@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
html {
  background: url("assets/img/book.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
